<style type="text/css">
    body {
        margin: 0;
        padding: 200px 0 0;

        background: #C3D9FF url(pic/logo.png) no-repeat center top;
        height: 4000px;

        font-family: verdana, helvetica, sans-serif;
        font-size: 12px;
    }
</style>

<div id="messageboard">
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input class="btn btn-danger" type="submit" value="Logout" style="margin-bottom: 20px;" />
    </form>

    <div id="messagearea"></div>

    <p id="numberOfMess">Antal meddelanden: <span id="nrOfMessages">0</span></p>
    <label for="inputName">Name:</label><br />
    <input id="inputName" type="text" name="name" /><br />
    <label for="inputText">Message:</label><br />
    <textarea name="mess" id="inputText" cols="55" rows="6"></textarea>
    <input class="btn btn-primary" type="button" id="buttonSend" value="Write your message" />
    <span class="clear">&nbsp;</span>
</div>
