:host {
  display: block;
}

core-scaffold::shadow #drawerPanel {
  &[narrow] core-toolbar {
    background-color: #009688;
  }

  &:not([narrow]) core-toolbar:not(.drawer) {
    display: none;
  }
}

[navigation] {
  overflow: auto;

  core-toolbar {
    color: white;
    background-color: #009688;
  }
}

@media (max-width: 600px) {
  [navigation] core-toolbar {
    display: none;
  }
}
