:host {
  display: block;
}

core-scaffold::shadow #drawerPanel {
  &[narrow] core-toolbar {
    background-color: #009688;
  }

  &:not([narrow]) core-toolbar {
    display: none;
  }
}

[navigation] {
  overflow: auto;

  core-toolbar {
    color: white;
    background-color: #009688;
  }

  paper-item {
    margin-left: 2rem;

    &.selected {
      background-color: #ddd;
    }
  }

  >paper-item {
    margin-left: 0;

    &.active {
      > span {
        font-weight: 500;
      }

      > core-icon {
        transform: rotate(90deg);
      }
    }

    > core-icon {
      transition: transform 0.2s ease-in-out;
    }
  }
}

@media (max-width: 600px) {
  [navigation] core-toolbar {
    display: none;
  }
}
